@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #4A6CF7;
  --color-red: #F87171;
  --color-destructive: #F87171;
  --color-success: #22C55E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans);
}

button{
  cursor: pointer;
}
